<!-- property binding and two-way-binding -->
<p>This is the Servers Component!</p>
<!-- <label>Server name (without two-way-binding)</label>
<input type="text" class="form-control" (input)="onUpdateServerName($event)"> -->
<label>Server name (with two-way-binding)</label>
<input type="text" class="form-control" [(ngModel)]="serverName">
<p>{{ serverName }}</p>

<!-- example of property binding: the disabled property is bound to the allowNewServer 
    property in servers.component.ts.
    example of event binding: on click, the function onCreateServer is called. -->
<button class="btn btn-primary" 
[disabled]="!allowNewServer"
(click)="onCreateServer()"
>add server</button>
<p>{{ serverCreationStatus }}</p>
<br>
<p>Status of allowNewServer:</p>
<!-- another example of property binding: -->
<p [innerText]="allowNewServer"></p>
<div class="server-component">
    <app-server></app-server>
</div>