.server-component{
    margin-top: 2em;
    padding: 1em;
    color: rgb(54, 54, 54);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(250, 250, 100);
}